<h2>Kata Pengantar Redaksi</h2>
<p>Oleh: Drs. H.M. Rahmadi Riza. M.SiE</p>
<p><%= image_tag("uploads/2011/content/gb_rahmadi_riza.jpg", :size => "130x200", :alt => "Rahmadi Riza") %></p>
<p>Kepala Bidang Pemberdayaan Kelembagaan Dinas Kominfo Kota Makassar</p>
<p>Website merupakan wahana pelayanan informasi kebijakan pemerintah berbasis komunilasi dan informatika. Tujuan pembangunan website adalah untuk mendukung pelaksanaan tugas lembaga pemerintah daerah khususnya dalam penyebarluasan informasi untuk kebutuhan publik.</p>
<p>Website dirancang untuk mengembangkan pelayanan informasi kepada publik sebagai bagian dari upaya mendorong masyarakat dalam mendapatkan informasi yang akurat, cepat, mudah dan terjangkau.</p>
<p>Keberadaan website merupakan satuan gugus tugas yg berada dan melekat secara operasional pada lembaga komunikasi dan informatika yang ada di Pemerintah Kota Makassar yakni Dinas Komunikasi dan Informatika Kota Makassar. Disamping itu tujuan dari pada tugas lembaga pemerintah daerah di bidang  komunikasi dan informatika secara timbal balik. Secara Nasional, pemerintah terus memegang komitmen dalam usaha memfasilitasi serta memberi pelayanan informasi publik sesuai dengan amanah pasal 28 UUD 1945, dimana informasi karakter bangsa ditengah pergaulan dunia global.</p>
<p>Website Dinas Komunikasi dan Informatika Kota Makassar dibentuk dalam rangka informasi guna memenuhi kebutuhan seluruh elemen layanan informasi masyarakat.</p>