<h2>Visi</h2>
<h4>"TERDEPAN DALAM PELAYANAN KOMUNIKASI DAN INFORMATIKA MENUJU MASYARAKAT MAJU DAN MANUSIAWI"</h4>
<h2>Misi</h2>
<p>
	<ol>
		<li>Meningkatkan Akses Informasi dan Komunikasi secara merata kepada masyarakat.</li>
		<li>Meningkatkan Kualitas Pelayanan Informasi dan Komunikasi melalui Pendayagunaan Multi Media secara berimbang cepat dan akurat.</li>
		<li>Mewujudkan Iklim Usaha Masyarakat di bidang Informasi dan Komunikasi dalam mewujudkan masyarakat yang kreatif.</li>
	</ol>
</p>
 

<h2>Tugas Pokok Dinas</h2>
<p>Melaksanakan kewenangan dalam bidang Informasi dan Komunikasi meliputi :</p>
<p>
	<ol>
		<li>Program Pengembangan Informasi Aplikasi dan Telematika.</li>
		<li>Pos dan Telekomunikasi.</li>
		<li>Pendayagunaan Media.</li>
		<li>Pemberdayaan Kelembagaan Informasi.</li>
	<ol>
</p>