<!-- begin page data -->		
<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>
		
<% @postsMainDinamic.each do |dopost| %>
	<div class="entry">
		<h2><%= dopost.title %></h2>
                <%= image_tag(dopost.image_url, :size => "50x50", :alt => "Edit Entry", :class => "alignleft") %>
		<%= strip_tags(dopost.content) %>
	</div>
	<br />
	<div class="divider_with_top" style="padding-top:0px; margin-bottom:20px;">
		<a class="top" href="#top" style="top:-6px;">[ &uarr; ]</a>
	</div>
<% end %>
<!-- end page data -->