<h2>Regulasi Perizinan</h2>

<p>MENTERI KOMUNIKASI DAN INFORMATIKA<br />
REPUBLIK INDONESIA</p>
<p>PERATURAN MENTERI KOMUNIKASI DAN INFORMATIKA<br />
REPUBLIK INDONESIA</p>
<p>NOMOR : 18/PER/M.KOMINFO/03/2009</p>
<p>TENTANG</p>
<p>TATA CARA DAN PROSES PERIZINAN PENYELENGGARAAN<br />
PENYIARAN OLEH PEMERINTAHAN DAERAH PROVINSI<br />
DAN PEMERINTAHAN DAERAH KABUPATEN/KOTA</p>
<p>DENGAN RAHMAT TUHAN YANG MAHA ESA<br />
MENTERI KOMUNIKASI DAN INFORMATIKA<br />
REPUBLIK INDONESIA</p>

<p>Menimbang :  bahwa untuk melaksanakan ketentuan pasal 9 Peraturan Pemerintah Nomor 38 Tahun 2007 tentang Pembagian Urusan Pemerintahan antara Pemerintah, Pemerintahan Daerah ProvInsi, dan Pemerintahan Daerah Kabupaten/ Kota ; perlu menetapkan peraturan Menteri Komunikasi dan Informatika Republik Indonesia tentang Tata Cara dan Proses Perizinan Penyelenggaraan Penyiaran oleh Pemerintahan Daerah Provinsi dan Pemerintahan Daerah Kabupaten/ Kota ;</p>
  
<p>Mengingat :<br />
  <ol>
  	<li>Undang-Undang Nomor 36 Tahun 1999 tentang Telekomunikasi ( Lembaran Negara RI Tahun 1999 Nomor 154, Tambahan Lembaran Negara RI Nomor 3881 );</li>
    <li>Undang-undang Nomor 32 Tahun 2002 tentang Penyiaran ( Lembaran Negara Tahun 2002 Nomor 139, Tambahan Lembaran Negara RI Nomor 4252 );</li>
	<li>Undang-undang Nomor 32 Tahun 2004 tentang Pemerintahan Daerah ( lembaran Negara RI Tahun 2004 Nomor 125, Tambahan Lembaran Negara RI Nomor 4437 ) sebagaimana telah diubah dengan Undang-Undang Nomor 8 Tahun 2005 tentang Penetapan Peraturan Pemerintah Pengganti Undang-Undang Nomor 3 Tahun 2005 tentang Perubahan Atas Undang-undang Nomor 32 tahun 2004 tentang Pemerintah Daerah menjadi Undang-Undang ( Lembaran Negara RI Tahun 2005 Nomor 108, Tambahan Lembaran Negara RI Nomor 4548 );</li>
  	<li>Peraturan Pemerintah Republik Indonesia Nomor 53 Tahun 2000 tentang Penggunaan Spektrum Frekuensi Radio dan Orbit Satelit ( Lembaran Negara RI Tahun 2000 Nomor 108, Tambahan Lembaran RI Nomor 3981 );</li>
  	<li>Peraturan Pemerintah Republik Indonesia Nomor 11 Tahun 2005 tentang Penyelenggaraan Penyiaran Lembaga Penyiaran Publik ( Lembaga Negara RI Tahun 2005 Nomor 28, Tambahan Lembaran negara RI Nomor 4485 );</li>
  	<li>Peraturan Pemerintah Republik Indonesia Nomor 50 Tahun 2005 tentang Penyelenggaraan Penyiaran Lembaga Penyiaran Swasta ( Lembaran Negara RI Tahun 2005 Nomor 127, Tambahan Lembaran Negara RI Nomor 4566 );</li>
  	<li>Peraturan Pemerintah Republik Indonesia Nomor 51 Tahun 2005 tentang Penyelenggaraan Penyiaran Lembaga Penyiaran Komunitas ( Lembaran Negara RI Tahun 2005 Nomor 128, Tambahan Lembaran Negara RI Nomor 4567)</li>
  	<li> Peraturan Pemerintah Republik Indonesia Nomor 52 Tahun 2005 tentang Penyelenggaraan Penyiaran Lembaga Penyiaran Berlangganan ( Lembaran Negara RI Tahun 2005 Nomor 129, Tambahan Lembaran RI Nomor 4668 ); </li>
  	<li>Peraturan Pemerintah Republik Indonesia Nomor 38 Tahun 2007 tentang Pembagian Urusan Pemerintahan, antara Pemerintahan, Pemerintahan Daerah Provinsi, Pemerintahan Daerah Kabupaten/ Kota ( Lembaran Negara RI Tahun 2007 Nomor 82, Tambahan Lembaran Negara RI Nomor 4737 );</li>
  	<li> Peraturan Pemerintah Republik Indonesia Nomor 41 Tahun 2007 tentang Organisasi Perangkat Daerah ( Lembaran Negara RI Tahun 2007 Nomor 39, Tambahan Lembaran Negara RI Nomor 4741 );  </li>
  	<li> Peraturan Pemerintah Republik Indonesia Nomor 9 Tahun 2005 tentang Kedudukan,Tugas, Fungsi, Struktur Organisasi, dan Tata Kerja kementerian Negara Republik Indonesia;  	  </li>
  	<li> Peraturan Pemerintah Republik Indonesia Nomor 10 Tahun 2005 tentang Unit Organisasi dan Tugas Eselon Kementerian Negara Republik Indonesia sebagaimana telah diubah dengan peraturan Presiden Republik Indonesia Nomor 15 Tahun 2005;  	  </li>
  	<li> Keputusan Presiden Republik Indonesia Nomor 31/ P Tahun 2007 tentang Pengangkatan Menteri Negara Kabinet Indonesia Bersatu;  	  </li>
  	<li> Peraturan Menteri Komunikasi dan Informatika Nomor 25/ P/ M. Kominfo/ 7/ 2008 tentang Organisasi dan Tata Kerja Kantor Departemen Komunikasi Dan Informatika ; </li>
  </ol></p>
  <p>M E M U T U S K A N </p>
<p>Menetapkan : </p>
<p>PERATURAN MENTERI KOMUNIKASI DAN INFORMATIKA TENTANG TATA CARA DAN PROSES PERIZINAN PENYELENGGARAAN PENYIARAN OLEH PEMERINTAH DAERAH PROVINSI DAN PEMERINTAHAN DAERAH KABUPATEN/ KOTA.
    
    BAB I
    
    KETENTUAN UMUM    </p>
<p>Pasal 1    </p>
<p>Dalam Peraturan Menteri Komunikasi dan Informatika ini yang di maksud dengan :    </p>
<p>Urusan Perizinan Penyiaran di Daerah adalah Pelayanan Urusan Perizinan oleh Pemerintahan Dearah Kabupaten/ Kota yang ruang lingkup tugasnya di bidang Komunikasi dan Informatika.    </p>
<p>Pemerintah Daerah adalah Penyelenggaraan urusan pemerintahan oleh pemerintah daerah dan DPRD menurut asas otonomi seluas-luasnya dalam sistem dan prinsip Negara Kesatuan Republik Indonesia sebagaimana di maksud dalam Undang-Undang Dasar Negara Republik Indonesia Tahun 1945.    </p>
<p>Rekomendasi Kelayakan adalah Rekomendasi yang dikeluarkan ole Komisi Penyiaran Indonesia setelah dilaksanakan Evaluasi dengan pendapat berdasarkan amanat undang-Undang Nomor 32 Tahun 2002 tentang penyiaran.    </p>
<p>Rekomendasi yang dikeluarkan oleh Pemerintah Daerah adalah Rekomendasi tentang hasil evaluasi data administratif dan data teknis permohonan izin penyelenggaraan penyiaran.
    
    Pemerintah Daerah adalah Perangkat Daerah yang ruang lingkup tugas dan tanggung jawabnya di bidang Komunikasi dan Informatika.    </p>
<p>Lembaga penyiaran adalah penyelenggara penyiaran baik lembaga penyiaran Publik, Lembaga Penyiaran Swasta, Lembaga Penyiaran Komunitas, maupun Lembaga Penyiaran Berlangganan, yang dalam melaksanakan tugas, fungsi, dan tanggung jawabnya berpedoman pada peraturan perundang-undangan yang berlaku.    </p>
<p>Forum Rapat Bersama adalah suatu wadah koordinasi antara Komisi Penyiaran Indonesia dan Pemerintah di tingkat pusat yang berwenang memutuskan unyuk menerima atau menolak permohonan izin penyelenggaraan penyiaran dan perpanjangan izin penyelenggaraan penyiaran.    </p>
<p>Pemohon adalah Perseorangan, warga negara Indonesia yang bertindak untuk dan atas nama badan hukum Indonesia.    </p>
<p>Menteri adalah Menteri yang ruang lingkup dan tanggung jawabnya di bidang Komunikasi dan Informatika.    </p>
<p>BAB II    </p>
<p>PENYELENGGARAAN PERIZINAN PENYIARAN DI DAERAH    </p>
<p>Pasal 2    </p>
<p>Perizinan penyiaran terdiri atas :    </p>
<ol type="a">
  <li>Urusan yang menjadi kewenangan Departemen Komunikasi dan Informatika    </li>
  <li> Urusan yang dibagi bersama dengan pemerintahan Daerah Provinsi Pemerintahan Daerah Kabupaten/Kota    </li>
  <li> Urusan yang dibagi bersama dengan Pemerintahan Kabupaten/Kota. </li>
</ol>
<p>Urusan yang menjadi kewenangan Departemen Komunikasi dan Informatika sebagaimana dimaksud pada ayat (1) huruf a meliputi :    </p>
<ol type="a">
  <li> Penetapan arah kebijakan penyelenggaraan penyiaran dengan mempertimbangkan perkembangan teknologi penyiaran, kecenderungan permintaan pasar, ekonomi, sosial, budaya dan kondisi lingkungan lainnya;    </li>
  <li> Penetapan tata cara dan persyaratan perizinan penyelenggaraan penyiaran;    </li>
  <li> Penerbitan izin penyelenggaraan penyiaran radio dan televisi bagi seluruh lembaga penyiaran;    </li>
  <li> Penetapan pedoman teknis pelaksanaan uji coba siaran radio dan televisi;    </li>
  <li> Penetapan kebijakan pemusatan kepemilikan dan penguasaan Lembaga Penyiaran Swasta dan Lembaga Penyiaran Berlangganan oleh salah satu orang atau salah satu badan hukum, baik disatu wilayah siaran maupun di beberapa wilayah siaran;    </li>
  <li> Penetapan kebijakan kepemilikan silang antara Lembaga    </li>
  <li> Penetapan kebijakan kepemilikan modal asing pada Lembaga Penyiaran Swasta dan Lembaga Penyiaran berlangganan;    </li>
  <li>Pemetaan usaha jasa penyiaran radio dan jasa penyiaran televisi;    </li>
  <li>Penetapan wilayah layanan penyiaran radio dan televisi;    </li>
  <li> Pengaturan dan penetapan sistem stasiun jaringan penyiaran radio dan televisi;    </li>
  <li> Penetapan standar teknologi penyiaran radio dan televisi;    </li>
  <li> Penetapan pedoman teknis dan sarana dan prasarana penyiaran radio dan televisi;    </li>
  <li> Penetapan/penentuan alokasi frekuensi dalam penyelenggaraan jasa penyiaran radio dan televisi; </li>
</ol>
<p>Urusan yang dilaksanakan oleh pemerintahan Daerah Provinsi sebagaimana dimaksud pada ayat (1) huruf b meliputi :    </p>
<ol type="a">
  <li> Evaluasi persyaratan administrasi dan data teknis permohonan izin penyelenggaraan penyiaran jasa penyiaran televisi;    </li>
  <li> Pembelian rekomendasi kelengkapan data administrasi dan data teknis permohonan izin penyelenggaraan televisi; </li>
</ol>
<p>Urusan yang dilaksanakan oleh Pemerintahan Daerah Kabupaten/Kota sebagaimana dimaksud pada ayat (1) huruf c meliputi :    </p>
<ol type="a">
  <li> Evaluasi persyaratan adminitrasi dan data tehnik terhadap permohonan izin penyelenggaraan penyiaran jasa penyiaran radio;    </li>
  <li> Pemberian rekomendasi kelengkapan data administrasi dan data tehnis persyaratan permohonan izin penyelenggaraan radio;    </li>
  <li> Pemberian izin lokasi pembagunan studio dan stasiun pemancar radio dan/ atau televisi; </li>
</ol>
<p>Pasal 3    </p>
<p>Rekomendasi kelengkapan data tehnis Permohonan izin penyelenggaraan penyiaran sebagaimana dimaksud dalam Pasal 2 Ayat (3) huruf b dan Ayat (4) huruf b tidak berarti sebagai penetapan/ penentuan frekuensi dalam penyelenggaraan jasa penyiaran radio atau televisi,    </p>
<p>Pasal 4    </p>
<p>Persyaratan administrasi dan data tehnis sebagaimana dimaksud dalam Pasal 2 Ayat. (3) huruf a dan ayat (4) huruf a, adalah sebagaimana diatur dalam Peraturan Pemerintah Republik Indonesia Nomor 11 Tahun 2005 tentang Penyelengaraan Penyiaran Lembaga Penyiaran Publik, Peraturan Pemerintah Republik Indonesia Nomor 50 Tahun 2005 tentang Penyelenggaraan Penyiaran Lembaga Penyiaran Komunitas, dan Peraturan Pemerintah Republik Indonesia Nomor 52 Tahun 2005
    
    tentang Penyelenggaraan Penyiaran Lembaga Penyiaran Berlangganan.    </p>
<p>Pasal 5    </p>
<p>Menteri dapat melakukan pembinaan, Pengarahan dan Petunjuk kepada Pemerintahan Daerah Provinsi dan Pemerintahan Daerah Kabupaten/ Kota dalam pelaksanaan urusan yang telah menjadi Kewenangannya di bidang proses perizinan penyelenggaraan penyiaran agar lembaga penyiaran daoat memenuhi azas, tujuan dan arah penyiaran sesuai dengan peraturan perundang-undangan.    </p>
<p>BAB III    </p>
<p>PROSES PERIZINAN PENYELENGGARAAN PENYIARAN DAERAH</p>
<p>Pasal 6    </p>
<p>Pemohon mengajukan permohonan izin penyelenggaraan penyiaran kepada Menteri melalui KPI setelah di buka peluang usaha penyelenggaraan penyiaran sebagaimana diatur dalam peraturan Menteri Komunikasai dan Informatika Republik Indonesia Nomor 28/ P/ M. Kominfo/ 09/ 2008 tentang Tata Cara dan Persyaratan Perizinan Penyelenggaraan Penyiaran,    </p>
<p>Permohonan sebagaimana dimaksud pada ayat (1) diubuat rangkap 2 (dua) masing-masing 1 (satu) berkas untuk KPI/ KPID, 1 (satu) berkas diteruskan kepada Menteri setelah didaftar oleh KPI, dengan tembusan kepada lembaga Pemerintah Daerah    </p>
<p>Pasal 7    </p>
<p>KPI/ KPID melakukan evaluasi persyaratan prongram siaran dan Pemerintah Daerah melakukan evaluasi persyaratan administrasi dan data tehnik.    </p>
<p>Untuk permohonan izin penyelenggaraan penyiaran jasa penyiaran televisi evaluasi persyaratan administrasi dan data tehnik sebagaimana dimaksud pada ayat (1) dilakukan oleh Pemerintah Daerah Provinsi </p>
<p>Untuk permohonan izin penyelenggaraan penyiaran jasa penyiaran radio evaluasi persyaratan administrasi dan data tehnis sebagaimana dimaksud pada Ayat (1) dilakukan oleh pemerintahan Daerah Kabupaten/ Kota.    </p>
<p>Pasal 8    </p>
<p>Evaluasi persyaratan administarasi dan data teknisi oleh Pemerintah Daerah dilakukan dalam waktu paling lama 1 (satu) bulan terhitung sejak diterimanya berkas permohonan sebagaimana dimaksud dalam Pasal 7 ayat (2) dan ayat (3)    </p>
<p>Evaluasi persyaratan administrasi dan data teknis oleh Pemerintah Daerah dilakukan terhadap kelengkapan persyaratan administrasi dan data teknis sebagaimana yang dimaksud dalam pasal 4 </p>
<p>Pasal 9    </p>
<p>Pemerintah Daerah Provinsi menerbitkan rekomendasi kelengkapan data administrasi dan data teknis bagi permohonan izin penyelenggaraan penyiarn jasa penyiaran televisi yang telah memenuhi persyaratan.    </p>
<p>Pemerintah Daerah Kabupaten/Kota menerbitkan rekomendasi rekomendasi kelengkapan data administrasi dan data teknis bagi permohonan izin penyelenggaraan jasa penyiaran radio yang telah memenuhi persyaratan.    </p>
<p>Rekomendasi sebagaimana dimaksud pada ayat (1) dan ayat (2) dikirimkan kepada Menteri dan KPI/KPID, sebagai bahan kelengkapan pelaksanaan EDP.    </p>
<p>Apabila Pemerintah daerah dalam waktu 30 (tiga puluh) hari tidak melakukan evaluasi data administrasi dan data teknis , maka data yang dipergunaan untuk keperluan Forum Rapat Bersama adalah data administrasi dan data teknis yang dikirim kepada Menteri oleh Pemohon.  </p>
<p>BAB IV  </p>
<p>LEMBAGA KOMUNIKASI DAN INFORMATIKA PEMERINTAHAN DAERAH  </p>
<p>Pasal 10  </p>
<p>Kedudukan lembaga komunikasi dan informatika Pemerintah Daerah adalah merupakan unsur pelaksana otonomi daerah.  </p>
<p>BAB V  </p>
<p>KETENTUAN PENUTUP  </p>
<p>Pasal 11  </p>
<p>Hal-hal yang belum diatur dalam Peraturan Menteri ini akan ditetapkan lebih lanjut dalam Peraturan sendiri.  </p>
<p>Pasal 12  </p>
<p>Peraturan Menteri ini mulai berlaku pada tanggal ditetapkan.  </p>
<p>Ditetapkan di : Jakarta  </p>
<p>Pada tanggal : 17 Maret 2009  </p>
<p>MENTERI KOMUNIKASI DAN INFORMATIKA<br />  
REPUBLIK INDONESIA,  </p>
<p>&nbsp;</p>
<p>MOHAMMAD NUH</p>