<!-- begin text widget -->
		<div class="page_sidebar_widget widget_text">
		
			<h4>Informasi Singkat Kota Makassar</h4>
			
			<div class="textwidget">
				<p>Makassar merupakan Ibukota dari Propinsi Sulawesi Selatan<br />
				<ul>
					<li>Berhadapan langsung dengan pantai Losari</li>
					<li>Jumlah penduduk 1.251.493 jiwa</li>
					<li>Luas wilayah 175.79 km2</li>
					<li>Kepadatan penduduk 7,119 jiwa/m2</li>
					<li>Terdiri dari 14 kecamatan dan 143 kelurahan</li>
					<li>Berjarak 24 km dari Bandara Hasanuddin</li>
					<li>Pelabuhan Soekarno-Hatta merupakan pelabuhan utama</li>
					<li>Bahasa sehari-hari menggunakan bahasa Indonesia</li>
					<li>Mayoritas penduduk memeluk agama Islam</li>
					<li>Iklim tropis dengan dua musim (hujan dan kemarau)</li>
					<li>Temperatur rata-rata 26' C (minimum 21,9' C and maximum 33' C)</li>
					<li>Merupakan kota terbesar di wilayah Timur Indonesia</li>
				</ul>
				</p>
			</div>
			
		</div>
		<!-- begin text widget -->